section#about.resume-section
        .resume-section-content
          h1.mb-0
            | Abasiodiong
            span.text-primary Udofia
          .subheading.mb-5
            | Ikeja Lagos · Nigeria Africa, +234 0813 · (702) 4087 ·
            a(href='mailto:enalsy22@gmail.com') enalsy22@gmail.com
          p.lead.mb-5
            | I am experienced in leveraging agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition.
          .social-icons
            a.social-icon(href='#!')
              i.fab.fa-linkedin-in
            a.social-icon(href='#!')
              i.fab.fa-github
            a.social-icon(href='#!')
              i.fab.fa-twitter
            a.social-icon(href='#!')
              i.fab.fa-facebook-f
hr.m-0