section#interests.resume-section
        .resume-section-content
          h2.mb-5 Interests
          p
            | Apart from being a web developer, I enjoy most of my time being outdoors. I am into football and the game of chess. Running is a natural thing in me. I just love to exercise and allow the blood to flow and regulate.
          p.mb-0
            | When forced indoors, I follow a number of sci-fi and fantasy genre movies and television shows, I am an aspiring chef, and I spend a large amount of my free time exploring the latest technology advancements in the  web development world.
hr.m-0