doctype html
html(lang='en')
  include layout/header.pug
  body#page-top
    // Navigation
    include layout/nav.pug
    // Page Content
    .container-fluid.p-0
      // About
      include pages/about.pug
      
      // Experience
      include pages/experience.pug
      
      // Education
      include pages/education.pug
      // Skills
      include pages/skills.pug
      
      // Interests
      include pages/interest.pug
      
      // Awards
      include pages/contact.pug

    // FOOTER
    include layout/footer.pug
