section#education.resume-section
        .resume-section-content
          h2.mb-5 Education
          .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
            .flex-grow-1
              h3.mb-0 University of Lagos Nigeria
              .subheading.mb-3 Bachelor of Science
              div Computer Science - Web Development Track
              p GPA: 4.23
            .flex-shrink-0
              span.text-primary August 2006 - May 2010
          .d-flex.flex-column.flex-md-row.justify-content-between
            .flex-grow-1
              h3.mb-0 IKeja Senior High School
              .subheading.mb-3 Technology Magnet Program
              p GPA: 3.56
            .flex-shrink-0
              span.text-primary August 2002 - May 2006
hr.m-0