section#skills.resume-section
        .resume-section-content
          h2.mb-5 Skills
          .subheading.mb-3 Programming Languages & Tools
          ul.list-inline.dev-icons
            li.list-inline-item
              i.fab.fa-html5
            li.list-inline-item
              i.fab.fa-css3-alt
            li.list-inline-item
              i.fab.fa-js-square
            li.list-inline-item
              i.fab.fa-angular
            li.list-inline-item
              i.fab.fa-react
            li.list-inline-item
              i.fab.fa-node-js
            li.list-inline-item
              i.fab.fa-sass
            li.list-inline-item
              i.fab.fa-less
            li.list-inline-item
              i.fab.fa-wordpress
            li.list-inline-item
              i.fab.fa-gulp
            li.list-inline-item
              i.fab.fa-grunt
            li.list-inline-item
              i.fab.fa-npm
          .subheading.mb-3 Workflow
          ul.fa-ul.mb-0
            li
              span.fa-li
                i.fas.fa-check
              |                             Mobile-First, Responsive Design
            li
              span.fa-li
                i.fas.fa-check
              |                             Cross Browser Testing & Debugging
            li
              span.fa-li
                i.fas.fa-check
              |                             Cross Functional Teams
            li
              span.fa-li
                i.fas.fa-check
              |                             Agile Development & Scrum
hr.m-0