section#awards.resume-section
        .resume-section-content
          h2.mb-5 Awards & Certifications
          ul.fa-ul.mb-0
            li
              span.fa-li
                i.fas.fa-trophy.text-warning
              |                             Google Analytics Certified Developer
            li
              span.fa-li
                i.fas.fa-trophy.text-warning
              |                             Mobile Web Specialist - Google Certification
            li
              span.fa-li
                i.fas.fa-trophy.text-warning
              |                             1
              sup st
              |                             Place - University of Colorado Boulder - Emerging Tech Competition 2009
            li
              span.fa-li
                i.fas.fa-trophy.text-warning
              |                             1
              sup st
              |                             Place - University of Colorado Boulder - Adobe Creative Jam 2008 (UI Design Category)
            li
              span.fa-li
                i.fas.fa-trophy.text-warning
              |                             2
              sup nd
              |                             Place - University of Colorado Boulder - Emerging Tech Competition 2008
            li
              span.fa-li
                i.fas.fa-trophy.text-warning
              |                             1
              sup st
              |                             Place - James Buchanan High School - Hackathon 2006
            li
              span.fa-li
                i.fas.fa-trophy.text-warning
              |                             3
              sup rd
              |                             Place - James Buchanan High School - Hackathon 2005