doctype html
html(lang='en')
  include layout/header.pug
  body#page-top
    // Navigation
    include layout/nav.pug
    // Page Content
    .container-fluid.p-0
      // About
      include pages/about.pug
      
      // Experience
      include pages/experience.pug
      
      // Education
      include pages/education.pug
      // Skills
      include pages/skills.pug
      
      // Interests
      include pages/interest.pug
      
      // Awards
      include pages/awards.pug

    // FOOTER
    // Bootstrap core JS
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js')
    // Core theme JS
    script(src='js/scripts.js')
